<div class="main">
    <div class="products">
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
        <div class="card">
            <img src="https://yt3.ggpht.com/a/AGF-l78G24xyIEBKuwAplhcA62uqpCeC-ADOxmkhnA=s900-mo-c-c0xffffffff-rj-k-no"
            alt="scnz" width="100%">
            <p style="font-size: 18px;">Abc Design</p><br>
            <p style="font-size: 14px;">Price: 3000Rs</p><br>
        </div>
    </div>
</div>
